<div class="character-card" *ngIf="character">
  <img [src]=" character.image " [alt]=" character.name ">
  <h3><strong>{{ character.name }}</strong></h3>
  <div>Gender: {{ character.gender }}</div>
  <div>Origin: {{ character.origin }}</div>
  <div *ngIf="hasCreated">Created: {{detailCharacterType.created | date: 'dd/MM/yyyy'}}</div>
  <div *ngIf="hasLocation">Location: {{detailCharacterType.location}}</div>
  <div *ngIf="hasSpecies">Species: {{detailCharacterType.species}}</div>
  <div *ngIf="hasStatus">Status: {{detailCharacterType.status}}</div>
</div>
