<div class="character-card" *ngIf="character">
  <div>
    <img [src]=" character.image " [alt]=" character.name ">
    <div class="properties">
      <h3><strong>{{ character.name }}</strong></h3>
      <div>
        <ul>
          <li>Gender: {{ character.gender }}</li>
          <li>Origin: {{ character.origin }}</li>
        </ul>
        <ul *ngIf="isDetailPage">
          <li>Created: {{character.created | date: 'dd/MM/yyyy'}}</li>
          <li>Location: {{character.location}}</li>
          <li>Species: {{character.species}}</li>
          <li>Status: {{character.status}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
