<div class="container">
  <ng-template [ngIf]="!pageInfo.disablePrevButton">
    <rm-button
      (rmButtonClick)="onPrevPressed()"
      [rmButtonConfig]="prevButtonConfig">
    </rm-button>
  </ng-template>
  <ng-template [ngIf]="pageInfo.disablePrevButton">
    <div class="placeholder-div"></div>
  </ng-template>
  <span *ngIf="pageInfo.characterCount"> Showing {{ pageInfo.characterCount }} characters. Page {{pageInfo.counter}} - {{pageInfo.pages}}</span>
  <ng-template [ngIf]="!pageInfo.disableNextButton">
    <rm-button
      (rmButtonClick)="onNextPressed()"
      [rmButtonConfig]="nextButtonConfig">
    </rm-button>
  </ng-template>
  <ng-template [ngIf]="pageInfo.disableNextButton">
    <div class="placeholder-div"></div>
  </ng-template>
</div>
