<div class="container">
  <div *ngIf="!pageInfo.disablePrevButton;else templatePlaceHolder">
    <rm-button
      (rmButtonClick)="onPrevPressed()"
      [rmButtonConfig]="prevButtonConfig">
    </rm-button>
  </div>
  <span *ngIf="pageInfo.characterCount"> Showing {{ pageInfo.characterCount }} characters. Page {{pageInfo.counter}} - {{pageInfo.pages}}</span>
  <div *ngIf="!pageInfo.disableNextButton;else templatePlaceHolder">
    <rm-button
      (rmButtonClick)="onNextPressed()"
      [rmButtonConfig]="nextButtonConfig">
    </rm-button>
  </div>
  <ng-template #templatePlaceHolder>
    <div class="placeholder-div"></div>
  </ng-template>
</div>
