<rm-form (formChanged)="onFormChange($event)" (resetPressed)="onResetPressed()"></rm-form>
<rm-pagination (nextPressed)="getPageCharacters('next')" (prevPressed)="getPageCharacters('prev')">
</rm-pagination>
<div *ngIf="characterNotFound" class="not-found-message">
  Character not found
</div>
<div *ngIf="characters" class="home__cards">
  <ng-container *ngFor="let character of characters">
    <div (click)="navigateToDetail(character.id)" class="home__cards--button">
      <rm-card [character]="character" class="home__cards--card"></rm-card>
    </div>
  </ng-container>
</div>
