.home {

  &__cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    &--button {
      margin-bottom: 10px;
      margin-left: 10px;
      max-height: fit-content;
    }
  }

}
