<div class="login-card__wrapper">
  <h2 class="login-card__title">Log In</h2>

  <form class="login-card__form">
    <div class="login-card__form--field">
      <label class="login-card__form--field--label" for="email">EMAIL</label>
      <input class="login-card__form--field--input" type="email">
    </div>

    <div class="login-card__form--field">
      <label class="login-card__form--field--label" for="password">PASSWORD</label>
      <input class="login-card__form--field--input" type="password">
    </div>

    <rm-button [rmButtonConfig]="submitButtonConfig"></rm-button>
  </form>
</div>
